/addmodule.py
/assignment5.py
/Assignment6.py
/bitwiseoperator.py
/filehandling
/forloop.py
/fuctionloop.py
/inheritance.py
/listtype.py
/primenumber.py
/question1.py
/randommodule.py
/samplecode.py
/swaptwonumber.py
/word_count.py